@import 'tailwindcss';

body {
  font-family: 'Poppins', sans-serif;
  --ui-border-color: #32190d;
  --ui-border-width: 2px;
  --ui-radius: 9999px;
  --ui-hard-shadow: 2px 2px 0 #32190d;
}

@layer components {
  .outlined-surface {
    border: var(--ui-border-width) solid var(--ui-border-color);
    border-radius: var(--ui-radius);
    background: white;
  }

  .hard-shadow {
    box-shadow: var(--ui-hard-shadow);
  }
}
